a {
    text-decoration: none;
    color: darkslategray;
}


li {
    display: list-item;
    list-style: none;
}

.check {
    color: green; /* Define a cor verde */
    font-weight: bold; 
}

.menu {
    text-align: center;
    text-decoration: none;
    color: darkslategrey;
}



body {
    background-color: #eaffe9da;
    text-align: center;
    
}

img {
    width: 500px;
    height: 320px;
    

}

.conteudo {
    text-align: center;
    padding-left: 200px; 
    padding-right: 200px;
    justify-content: center;
    align-items: center;  
    

}

p{
    text-align: center;
    
}

table{
    text-align: center;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    width: 100%;
    height: 110px;
}
 


